* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.background-image-flower {
  position: relative;
  background: url('./background_image/flower.png') no-repeat;
  background-size: inherit;
  background-position: 201px -230px;
}

.main-headline{
  text-align: center;
  margin: 110px 349px;
  font-size: 70px;
  line-height: 78px;
  color: #515076;
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 110px 85px 116px 85px;
  justify-content: center;
  list-style: none;
}

.card-distance {
  margin-right: 45px;
  margin-bottom: 45px;
}

.card-mask {
  margin-right: 45px;
}

.card-gift {
  margin-right: 45px;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  color: #515076;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category{
  line-height: 24px;
  font-size: 12px;
  text-transform: uppercase;
  color: #A5A3B9;
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: block;
  margin-bottom: 5px;
}

.product-description {
  display: block;
  margin-bottom: 15px;
}

.product-composition {
  display: block;
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-composition-item {
  margin-left: 14px;
}

.product-price-style {
  display: flex;
  justify-content: space-between;
}

.product-price-label {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.product-price {
  line-height: 24px;
  font-size: 20px;
}

.chameleon_shift {
  background-color: #9900ffff;
}

.color-shifter {
  background-color: #006d80;
}

.button_position {
  margin: 0px 350px;
}

.footer {
  background-color: #3A3A3A;
  font-size: 18px;
  color: #FFFFFF;
}

.footer-container {
  padding-right: 75px;
  padding-left: 84px;
  display: flex;
  justify-content: space-between;
}

.name-and-description {
  margin-right: 132px;
}

.footer-form-container {
  padding-bottom: 250px;
    padding-top: 71px;
}

.footer-shell-form {
  margin-right: 132px;
  border: 1px solid white;
  background-color: white;
  border-radius: 6px;
  width: 477px;
  height: 61px;
  text-align: center;
}

.footer-inside-form {
  display: flex;
  justify-content: space-between;
  padding-left: 36px;
  padding-top: 22px;
  padding-right: 15px;
}

.footer-form-title {
  padding-left: 88px;
  padding-bottom: 13px;
  font-size: 24px;
  line-height: 100%;
  
}

.enter-email {
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
}

.subscribe {
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding-left: 21px;
  font-size: 18px;
  background: transparent;
}

.menu {
  padding-top: 71px;
}

.footer-description {
  padding-top: 20px;
  padding-bottom: 35px;
}

.footer-title {
  font-weight: 800;
  font-size: 28px;
}

.footer-title-and-description {
  line-height: 154%;
  padding-top: 85px;
}

.icon-tg {
  margin-right: 25px;
}

.quick-links-text {
  font-weight: 500;
  font-size: 20px;
}

.quick-links {
  list-style: none;
  padding-top: 23px;
}

.quick-links-item {
  padding-bottom: 17px;
}

.footer-link {
  border-top: 10px;
  padding-left: 610px;
  padding-bottom: 28px;
}

.footer-link::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-left: 110px;
  margin-bottom: 30px;
  background-color: white;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 600px;
  padding: 15px;
  width: 350px;
  margin-bottom: 20px;
  gap: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: url('./background_image/registration.jpg');
}

.input-field {
  display: block;
  width: 100%;
}

.authentication {
  display: flex;
  margin-left: 710px;
  margin-bottom: 20px;
  background: url('./background_image/authentification.jpg');
  font-weight: 600;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.modal {
  display: flex;
  display: none;
  position: absolute;
  flex-direction: column;
  border: 1px solid black;
  min-width: 300px;
  min-height: 200px;
  background-color: white;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background: url('./background_image/modal.jpg') 29%;
  border-radius: 10px;
}

.modal-showed {
  display: block;
}

.open-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}

.authorization-modal {
  display: block;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.label-login {
  margin-left: 4px;
  font-weight: 500;
}

.label-passwd {
  margin-left: 4px;
  font-weight: 500;
}

.login-modal {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 6px;
  font-weight: 500;
}

.password-modal {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 6px;
  font-weight: 500;
}

.sign-in {
  width: 100%;
  margin-top: 10px;
  margin-left: 4px;
  margin-bottom: 6px;
  font-weight: 500;
}

.close-modal-button {
  margin-left: 260px;
  font-weight: 500;
}