body{
  font-family:Montserrat;
}

.image_card{
  display: flex;
  justify-content: center;
  padding: 22px;
}

.t1{
  padding: 1px 25px 12px;
  font-size: 12px;
  color: #A5A3B9;
}

.t2{
  font-size: 20px;
  padding: 1px 25px 7px;
  font-weight: bold;
}

.t3{
  padding: 11px;
  font-size: 13px;
  line-height: 18px;
  padding: 1px 25px 7px;
}

.sostav{
  font-size: 13px;
  margin: 0;
  margin-bottom: 7px;
  padding-left: 25px;
  margin-top: 10px;
}

.spisok{
  font-size: 13px;
  margin-top: 0;
  padding-left: 40px;
  list-style-type: circle;
}

.s1{
  padding-bottom: 8px;
}

.s2{
  padding-bottom: 8px;
}

.price{
  font-size: 20px;
  padding: 20px 25px 7px;
  font-weight: bold;
}

.price_number{
  font-size: 20px;
}

.color{
  color: rgb(81, 80, 118)
}

.all{
  word-spacing: 131px;
  padding: 10px 0px;
}

.back_col{
  width: 340px;
  height: 565px;
  background-color: #F7F7FA;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.10);;
}



