.users li {
  display: flex;
  flex-wrap: wrap;
  border: 1px, solid, black;
  padding: 10px;
  margin: 30px 570px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
}