* {
  margin: 0;
  padding: 0;
}

.button {
  display: block;
  width: 100px;
  height: 100px;
}

.modal-close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

.modal {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 20px;
}

.modal-showed {
  display: block;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  background-color: rgb(0, 0, 0, 0.6);
}

.overlay-showed {
  display: block;
}